{% extends 'base.html.twig' %}

{% block title %}Modifier offre{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier offre</h1>

        {{ include('offer/_form.html.twig', {'button_label': 'Modifier'}) }}

    </div>
{% endblock %}
