{% extends 'base.html.twig' %}

{% block title %}Ajouter nouveau offre{% endblock %}

{% block body %}
    <div class="container">

        <h1>Ajouter nouveau offre</h1>

        {{ include('offer/_form.html.twig') }}
        
    </div>
{% endblock %}
